@import "tailwindcss";

@layer components {
    .btn {
        @apply py-1 px-4 my-1 bg-cyan-800 rounded-md cursor-pointer;
    }
    .blog {
        @apply p-4 border border-amber-600 rounded-md;
    }
    .inp {
        @apply p-1 my-1 border border-gray-500 rounded-md;
    }
    .url {
        @apply text-cyan-600;
    }
    .user {
        @apply p-4 border border-amber-600 rounded-md;
    }
    .form {
        @apply border border-amber-600 rounded p-4 flex flex-col justify-center max-w-sm mx-auto;
    }
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
